// Override default variables before the import
$body-bg: #FAF9F6;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.navbar-custom {
    background-color: #00e64d;
    height: 100vh;
    width: 6vw; 
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: fixed;
}

.nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.brand-container {
    background-color: #00C542;
    color: white;
    width: 100%;
    height: 2em;
    padding-top: 0.5em;
    padding-bottom: 2em;
    margin: 0;
    text-align: center;
}

.app-container {
    display: flex;
}

.text-center {
    text-align-last: start;
    display: flex;
    height: 100vh;
}

.routes-container {
    flex-direction: column;
    height: 100%;
}

.image {
    width: auto;
    height: 40%;
    box-shadow: 0.5vw 0 0 0px #00e64d, 1vw 0 0 0px #99F5B7, 1.5vw 0 0 0px #CCFADB;
    margin: 2em;
    margin-right: 6vw;
}

.details-container {
    margin: 2em;
    height: 40vh;
    text-align: left;
}

.icon {
    width: 4vw;
    color:  #00C542;
    height: 5.25vh;
    padding: 0.4vw;
    margin: 0.3vw;
    margin-top: 0.2vw;
    margin-bottom: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.icon:hover {
    color: #00e64d;
    cursor: pointer;
}

.mobile-icon {
    width: 10vw;
    color:  #00C542;
    height: 6vh;
    padding: 0.4vw;
    margin: 1vw;
    margin-top: 0.2vw;
    margin-bottom: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}