// Override default variables before the import
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.navbar-custom {
    background-color: #00C542;
    height: 38vh;
    width: 5vw; 
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: 1vw;
    padding: 0;
    position: fixed;
    justify-content: center;
    border-radius: 2em;
    vertical-align: middle;
    left: 0;
    z-index: 1;
}

.brand-container {
    background-color: #00C542;
    color: white;
    width: 5.25vw;
    height: 2em;
    padding-top: 0.5em;
    padding-bottom: 2em;
    margin: 0;
    text-align: center;
}

.app-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #f7f7f7;
    overflow: auto;
}

.mobile-routes-container {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.text-center {
    text-align-last: start;
    display: flex;
    height: 74vh;
    margin-top: 26vh;
}

.routes-container {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

.image {
    width: auto;
    height: 40vh;
    box-shadow: 0.6vw 0 0 0px #00e64d, 1.4vw 0 0 0px #99F5B7, 2.2vw 0 0 0px #CCFADB;
    margin-right: 6vw;
    margin-left: 8vw;
    margin-top: 3vh;
}

.details-container {
    margin-top: 9vh;
    text-align: left;
}

.icon {
    color:  #00C542;
    height: 6vh;
    width: fit-content;
    margin: 1.3vh;
    flex-basis: content;
}

.icon:hover {
    color: #00e64d;
    cursor: pointer;
}

.mobile-icon {
    width: 12vw;
    color:  #00C542;
    height: auto;
    padding: 0.4vw;
    margin: 1vw;
    margin-top: 0.2vw;
    margin-bottom: 0;
}

.navbar-mobile {
    background-color: #00C542;
    height: 8vh;
    width: 70vw; 
    display: flex;
    flex-direction: row;
    margin: 0;
    // margin-left: 16vw;
    padding: 0;
    z-index: 1;
    bottom: 0;
    margin-bottom: 2vh;
    position: fixed;
    justify-content: center;
    border-radius: 2em;
    vertical-align: middle;
}

.nav {
    color: white;
    height: 4vh;
    width: 4vw;
    margin: 1.3vh;
}

.logo {
    height: 7vh;
    width: fit-content;
    margin: 1.3vh;
    flex-basis: content;
}