// Override default variables before the import
$body-bg: #f8f8ff;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.navbar-custom {
    background-color: #00e64d;
    height: 100vh;
    width: 6vw; 
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.nav-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.brand-container {
    background-color: #00C542;
    color: white;
    width: 100%;
    height: 3em;
    margin: 0;
    text-align: center;
    font-size: 'xxx-large';
}